.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}

.home-container h1 {
  margin: 0.5em 0 1em 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.search-container {
  margin-bottom: 1.5em;
  width: 100%;
}

.search-container form {
  width: 30%;
  position: relative;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

.feed-container {
  padding-top: 1.5em;
}
