.container {
  min-height: 100vh;
  margin-left: 180px; /* Área destinada ao conteudo do site */
  overflow: hidden;
  transition: all 0.4s;
}

@media (width < 920px) {
  .container {
    transition: margin 0.4s;
    margin-left: 71px;
  }
}

@media (width > 397px) {
  .container {
    transition: padding 0.4s;
    margin-top: -240px;
  }
}

@media (width < 397px) {
  .container {
    transition: padding 0.4s;
    padding-top: 40px;
    margin-left: unset; /* Área destinada ao conteudo do site */
  }
}
